@import './vars.css';

.container {
  margin-right: auto !important;
  margin-left: auto !important;
  padding-right: var(--gutter-width);
  padding-left: var(--gutter-width);
/*padding-right: 8%;
  padding-left: 8%;*/
}

@media (--viewport-M) {
  .container { max-width: 44.063em; }
}

/*@media (--viewport-S-to-M) {
  .container {
    padding-right: 4%;
    padding-left: 4%;
  }
}*/

@media (--viewport-L) {
  .container {
    max-width: 66.063em;
    padding-right: calc(2 * var(--gutter-width));
    padding-left: calc(2 * var(--gutter-width));
  }

}

@media (--viewport-XL) {
  .container { max-width: 84.063rem; }
}
